     
		       <div class="alert alert-danger fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Error!</strong> Please Login to vote.
			   </div>	
			 	 